<!DOCTYPE html>
<head>
    <title>VividMedi - Consultation Notes & Q&A</title>
    <style>

    </style>
</head>
<body>
    <div class="container">
                <div class="header-right">
                </div>
                <div class="tab-content active" id="notes-tab">
                        <div class="section-title">Clinical Data Input</div>
                        <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="qa-tab">
        </div>
    </div>
    <script>


                
                
                

            
    </script>
</body>
</html>
